#option-tree-logo{ display:none !important; }
body #option-tree-header-wrap{ display:none; }
body #option-tree-sub-header{ border: 1px solid #222; background:#222; -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0), 0 1px 3px rgba(0,0,0,0); -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0), 0 1px 3px rgba(0,0,0,0); box-shadow: inset 0 1px 0 rgba(0,0,0,0), 0 1px 3px rgba(0,0,0,0); }


body #option-tree-settings-api > .ui-tabs{  
-webkit-box-shadow: inset 205px 0 0 #f1f1f1, inset 206px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05);
-moz-box-shadow: inset 205px 0 0 #f1f1f1, inset 206px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05);
box-shadow: inset 205px 0 0 #f1f1f1, inset 206px 0 0 #ccc, 0 1px 3px rgba(0,0,0,0.05);
}
body .wrap.settings-wrap .ui-tabs-nav{
	width:210px;
}

.tally-ot-section{  padding:5px 20px; display:block; text-align:center; margin-bottom:0px; }
.tally-ot-section h2{ color:#FFF; }
.ot-background-group { padding-top: 5px; }
#option-tree-settings-api .option-tree-setting .format-settings {margin-bottom: 30px;}
.option-tree-setting .format-setting-label { margin: 0 0 10px 0; }
.option-tree-ui-colorpicker-input-wrap .wp-picker-container, .wp-picker-container:active{ padding-top:3px; }

.ot-theme-option-tabs.ui-tabs .ot-theme-option-panels{ margin-top:20px !important; }
body .wrap.settings-wrap .ui-tabs-nav li a{ padding: 10px 5px 10px 14px; font-weight: bold; border-bottom: 1px solid rgba(0, 0, 0, 0.05); margin-left: 2px; }


/*--- Improve Every settings ---*/
body .format-settings{	border: dashed #ccc 1px; margin-top: 20px; background: #F9F9F9; }
body .format-setting-wrap{ padding: 10px 20px 18px 20px; }
body .format-setting-label{ border-bottom:0 !important; margin:0 !important; }
body .format-setting .description{ float:none; padding:0; width:auto; margin-bottom:12px; }
body .format-setting .format-setting-inner{ float:none; width:auto; }
body #option-tree-settings-api .format-setting-label .label, 
body #poststuff .format-setting-label .label{ font-weight:bold; font-size:16px; }

body .list-list-item .format-settings,
body .list-sub-setting .format-settings{ margin-bottom:0px !important; margin-top:10px !important; padding: 6px 0 10px 0; }
body .list-list-item .format-settings .format-setting-label,
body .list-sub-setting .format-settings .format-setting-label,
body .list-list-item .format-settings .format-setting,
body .list-sub-setting .format-settings .format-setting{ width:96%; margin-left:2% !important; }


/*--- Tab style ---*/
body .ot-theme-option-tabs{ margin-top:20px; }
body .ot-theme-option-tabs.ui-tabs .ot-theme-option-nav.ui-tabs-nav{ height:39px !important; border-color: #2EA2CC; }
body .ot-theme-option-tabs.ui-tabs .ot-theme-option-nav.ui-tabs-nav li:first-child{ margin-left:20px; }
body .ot-theme-option-tabs.ui-tabs .ot-theme-option-nav.ui-tabs-nav li.ui-state-default{ background:#2EA2CC; border-color: #2EA2CC; }
body .ot-theme-option-tabs.ui-tabs .ot-theme-option-nav.ui-tabs-nav li a{ 
	padding: 10px 15px 10px 15px !important; 
	font-weight: bold; 
	font-size: 13px; 
	color: #FFFFFF !important; 
}
body .ot-theme-option-tabs.ui-tabs .ot-theme-option-nav.ui-tabs-nav li.ui-state-active{ background:#FFFFFF; border-color: #2EA2CC; }
body .ot-theme-option-tabs.ui-tabs .ot-theme-option-nav.ui-tabs-nav li.ui-state-active a{ 
	border-color: #2EA2CC;  
	padding: 10px 15px 11px 15px !important; 
	font-size: 13px;
	color: #000000 !important; 
	border-bottom:0;
}
.ot-theme-option-tabs.ui-tabs .ot-theme-option-panels{ margin-top:0 !important; border:solid 1px #2EA2CC !important; border-top:0 !important; }
.ot-theme-option-tabs.ui-tabs .ot-theme-option-panels .ui-tabs-panel{ padding:20px; }


.tally-home-people{  }


.tally-dis-wrap{ position:relative; border-color:#093 !important; border-style:solid !important; }
.tally-dis-wrap,
.tally-dis-wrap h3.label{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.tally-dis-inner{ position: absolute;top:0;left:0;width: 100%;height:100%;z-index:30;opacity:0.6;filter: alpha(opacity = 50); background:#FFF; }
.tally-dis-inner-span{ background:#093; padding:5px 10px; position:absolute; right:-1px; top:-1px; z-index:31; border-radius: 0px 0px 0px 5px; }
.tally-dis-inner-span a{ text-decoration:none; color:#FFF; font-size:18px; line-height:24px; font-weight:bold; }


.tally-list-dis-wrap.tally-list-dis-active .option-tree-setting-remove.option-tree-ui-button.right-item{ display:none; }
.tally-list-dis-wrap.tally-list-dis-active .option-tree-setting-edit.option-tree-ui-button.left-item{ margin-right:6px; }
.tally-list-dis-wrap.tally-list-dis-active .option-tree-list-item-add.option-tree-ui-button.hug-right{ display:none; }
.tally-list-dis-wrap .list-item-description{ font-size:120%; font-weight:bold; color:#060; }