/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


.tally-flexslider{ position:relative !important; }
.tally-flexslider .wfs-viewport ul.slides{ list-style-type:none !important; margin:0; }
.tally-flexslider .wfs-viewport ul.slides li{ list-style-type:none !important; margin:0;}
.tally-flexslider ul.wfs-direction-nav{ list-style-type:none !important; margin:0; }
.tally-flexslider ul.wfs-direction-nav li{ list-style-type:none !important; margin:0; }


/* Browser Resets
*********************************/
.wfs-container a:active,
.tally-flexslider a:active,
.wfs-container a:focus,
.tally-flexslider a:focus  {outline: none;}
.slides,
.wfs-control-nav,
.wfs-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.tally-flexslider {margin: 0; padding: 0; position:relative;}
.tally-flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
.tally-flexslider .slides img {width: 100%; display: block;}
.wfs-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
.no-js .slides > li:first-child {display: block;}

.wfs-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .wfs-viewport { max-height: 300px; }
.tally-flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }