@media only screen and (max-width: 980px) {
	/* Home::: slideshow
	================================================== */
	.home-slideshow-caption h4{ font-size: 2em; line-height: 1.2em; }
	.home-slideshow-caption p{ font-size: 16px; line-height: 22px; }
	.home-slideshow-caption .readmore{ font-size: 12px;	padding: 6px 14px;	}
}


@media only screen and (max-width: 900px) {
	
}

@media only screen and (max-width: 800px) {
	/* Home::: slideshow
	================================================== */
	.home-slideshow-caption h4{ font-size: 1.8em; line-height: 1.2em; }
	.home-slideshow-caption p{ font-size: 16px; line-height: 22px; margin-bottom:10px; }
	.home-slideshow-caption .readmore{ font-size: 12px;	padding: 2px 12px;	}
}

@media only screen and (max-width: 768px) {	
	
	.col-holder .col{ margin-left:0; }
	.col-holder .col_1,
	.col-holder .col_2,
	.col-holder .col_3,
	.col-holder .col_4,
	.col-holder .col_5,
	.col-holder .col_6,
	.col-holder .col_7,
	.col-holder .col_8,
	.col-holder .col_9,
	.col-holder .col_10,
	.col-holder .col_11,
	.col-holder .col_12{ width: 100%; *width: 99.94680851063829%; margin-bottom:30px; }
	
	
	.cl_holder{ margin-left:0; }
	.cl{ margin-left:0; float:left; margin-bottom:30px; }
	.cl_1,
	.cl_2,
	.cl_3,
	.cl_4,
	.cl_5,
	.cl_6{ width: 100%; *width: 99.94680851063829%; }


	#wrapper{ margin-bottom:0; margin-top:0; }
	
	#nav select{ display:block; float:left; width:70%; margin-left:15%; margin-top:0; }
	#nav ul{ display:none; }
	
	
	/*--Header--*/
	#header{ text-align:center; padding-bottom:20px; padding-top:20px; }
	#header .hheaight{ height:auto; width:100%; clear:both;  height:auto !important;}
	#header .logo_area{  float:none; border-right:none;  margin-right: 0; padding-right:0;  }
	#header .menu_area{ float:none; }
	.header-sticky #header.stickyMenu{ position:relative !important; }
	
	#subheader .page_title{ float:none; width:100%; text-align:center; }
	#subheader .page_subtitle{ float:none; width:100%; text-align:center; }
	#subheader .breadcrumbs{ float:none; width:100%; text-align:center; }
	
	
	/* Header::: 1
	================================================== */
	#tally-header-1 #topbar{ text-align:center; }
	.tally-social-icons.he-skin1 a{ border-top:1px solid; margin-top:20px; }
	#tally-header-1 #topbar .tally-header-phone,
	#tally-header-1 #topbar .tally-header-email,
	#tally-header-1 #topbar .tally-social-icons{ float:none; }
	
	#tally-header-1 #header{ height:auto; }
	#tally-header-1 #header #logo{ display:block; width:100%; text-align:center; }
	#tally-header-1 #header .tally-header-loginBox{ float:none }
	#tally-header-1 #header #tally-header-search{ float:none; }
	#tally-header-1 #header #primary-menu{ float:none; clear:both; }
	
	
	/*--Footer--*/
	#footer{ text-align:center; }
	#footer .copy_text{ width:100%; float:none; }
	#footer .footer_menu{ float:none; width:100%; margin-top:20px; }
	
	
	/*--Comment --*/
	.comment-form-author{ width:100%; float:left; margin-bottom:0px; }
	.comment-form-email{ width:100%;  float:left; margin-left: 0px; margin-right: 0px; margin-bottom:0px; }
	.comment-form-url{ width:100%;  float:left; margin-bottom:0px; }
	
	
	/* Home::: slideshow
	================================================== */
	.home-slideshow-caption h4{ font-size: 1.5em; line-height: 1em; margin-bottom: .5em; }
	.home-slideshow-caption p{ font-size: 16px; line-height: 1em; margin-top: .6em; }
	.home-slideshow-caption .readmore{ font-size: 12px;	padding: 3px 10px;	}
	
	
	/* masonry
	================================================== */
	body .tally_masonry_html.tmh-margin-0 .masonry-wp-child-item{ }
	body .tally_masonry_html.tmh-margin-1 .masonry-wp-child-item{  margin-left: 1% !important;  margin-bottom: 1% !important; }
	body .tally_masonry_html.tmh-margin-2 .masonry-wp-child-item{  margin-left: 2% !important;  margin-bottom: 2% !important; }
	body .tally_masonry_html.tmh-margin-3 .masonry-wp-child-item{  margin-left: 3% !important;  margin-bottom: 3% !important; }
	
	body .tally_masonry_html.tmh-column-0 .masonry-wp-child-item{ width: 47% !important; }
	body .tally_masonry_html.tmh-column-1 .masonry-wp-child-item{ width: 47% !important; }
	body .tally_masonry_html.tmh-column-2 .masonry-wp-child-item{ width: 47% !important;  }
	body .tally_masonry_html.tmh-column-3 .masonry-wp-child-item{ width: 47% !important;  }
}


@media only screen and (max-width: 640px) {
	/* Home::: slideshow
	================================================== */
	.home-slideshow-caption h4{ font-size: 18px; }
	.home-slideshow-caption p{ font-size: 12px; margin-bottom:10px; }
	.home-slideshow-caption .readmore{ font-size: 11px;	padding: 0px 8px; border-width:1px !important;	}
	.home-slideshow .wfs-control-nav{ display:none; }
}

@media only screen and (max-width: 360px) {
	/* Home::: slideshow
	================================================== */
	.home-slideshow-caption{ display:none; }
	
	/* masonry
	================================================== */
	body .tally_masonry_html.tmh-margin-0 .masonry-wp-child-item{ width:100% !important; }
	body .tally_masonry_html.tmh-margin-1 .masonry-wp-child-item{ width: 100% !important;  margin-left: 0 !important;  margin-bottom: 1% !important; }
	body .tally_masonry_html.tmh-margin-2 .masonry-wp-child-item{ width: 100% !important;  margin-left: 0 !important;  margin-bottom: 2% !important; }
	body .tally_masonry_html.tmh-margin-3 .masonry-wp-child-item{ width: 100% !important;  margin-left: 0 !important;  margin-bottom: 3% !important; }
}