/* Columns
================================================== */
	.col-holder{ width:100%; margin-bottom:40px; *zoom: 1; }
	.col-holder:before,
	.col-holder:after { display: table; content: ""; line-height: 0; }
	.col-holder:after { clear: both; }
	.col-holder.nomargin { margin-bottom:0 !important; }
	.col-holder .col{  
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.857142857142857%;
  		*margin-left: 2.8095238095238098%; 
	}
	.col-holder .col:first-child{ margin-left:0; }
	.col-holder .col_1{  width: 5.714285714285714%; *width: 5.666666666666667%; }
	.col-holder .col_2{  width: 14.285714285714286%; *width: 14.238095238095239%; }
	.col-holder .col_3{  width: 22.857142857142858%; *width: 22.80952380952381%; }
	.col-holder .col_4{  width: 31.42857142857143%; *width: 31.380952380952383%; }
	.col-holder .col_5{  width: 40%; *width: 39.95238095238095%; }
	.col-holder .col_6{  width: 48.57142857142857%; *width: 48.52380952380952%; }
	.col-holder .col_7{  width: 57.14285714285714%; *width: 57.09523809523809%; }
	.col-holder .col_8{  width: 65.71428571428572%; *width: 65.66666666666667%; }
	.col-holder .col_9{  width: 74.28571428571429%; *width: 74.23809523809524%; }
	.col-holder .col_10{ width: 82.85714285714286%; *width: 82.80952380952381%; }
	.col-holder .col_11{ width: 91.42857142857143%; *width: 91.38095238095238%; }
	.col-holder .col_12{ width: 100%;  *width: 99.95238095238095%; }
	.col-holder .col_one_5{ width: 17.14%; }
	
	
	.cl_holder{ margin-left:-3%; }
	.cl{ margin-left:3%; float:left; margin-bottom:3%; }
	.cl_1{ width:97%; }
	.cl_2{ width:47%; }
	.cl_3{ width:30.33333%; }
	.cl_4{ width:22%; }
	.cl_5{ width:17%; }
	.cl_6{ width:13.66666%; }
	
	
	.cl24-holder{ width:100%; margin-bottom:40px; *zoom: 1; }
	.cl24-holder:before,
	.cl24-holder:after { display: table; content: ""; line-height: 0; }
	.cl24-holder:after { clear: both; }
	.cl24-holder.nomargin { margin-bottom:0 !important; }
	.cl24-holder .col{  
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2%;
	}
	.cl24-holder .col:first-child{ margin-left:0; }
	.cl24-holder .col_1 { width: 2.25%; }
    .cl24-holder .col_2 { width: 6.5%; }
    .cl24-holder .col_3 { width: 10.75%; }
    .cl24-holder .col_4 { width: 15.0%; }
    .cl24-holder .col_5 { width: 19.25%; }
	.cl24-holder .col_one_5 { width: 18.4%; }
    .cl24-holder .col_6 { width: 23.5%; }
    .cl24-holder .col_7 { width: 27.75%; }
    .cl24-holder .col_8 { width: 32.0%; }
    .cl24-holder .col_9 { width: 36.25%; }
    .cl24-holder .col_10 { width: 40.5%; }
    .cl24-holder .col_11 { width: 44.75%; }
    .cl24-holder .col_12 { width: 49.0%; }
    .cl24-holder .col_13 { width: 53.25%; }
    .cl24-holder .col_14 { width: 57.5%; }
    .cl24-holder .col_15 { width: 61.75%; }
    .cl24-holder .col_16 { width: 66.0%; }
    .cl24-holder .col_17 { width: 70.25%; }
    .cl24-holder .col_18 { width: 74.5%; }
    .cl24-holder .col_19 { width: 78.75%; }
    .cl24-holder .col_20 { width: 83.0%; }
    .cl24-holder .col_21 { width: 87.25%; }
    .cl24-holder .col_22 { width: 91.5%; }
    .cl24-holder .col_23 { width: 95.75%; }
    .cl24-holder .col_24 { width: 100%; }